" vim settings
set scrolloff=5
set history=1000

" status bar
set showmode

" leader
map <space> <nop>
let mapleader="\<space>"

" location
map <C-i> <Action>(Back)
map <C-o> <Action>(Forward)

" pick action/class/symbol/file/recent change file/recent file
map <leader>a <Action>(GotoAction)
map <leader>c <Action>(GotoClass)
map <leader>s <Action>(GotoSymbol)
map <leader>ff <Action>(GotoFile)
map <leader>fc <Action>(RecentChangedFiles)
map <leader>fo <Action>(RecentFiles)

" goto
map gu <Action>(GotoSuperMethod)
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map gt <Action>(GotoTest)
map gj <Action>(GotoNextError)
map gk <Action>(GotoPreviousError)
map gh <Action>(QuickJavaDoc)
map gH <Action>(QuickActions)
map gr <Action>(RefactoringMenu)
map ga <Action>(ShowIntentionActions)
map gf <Action>(ShowUsages)
map gF <Action>(FindUsages)

" terminal
map <leader>tt <Action>(ActivateTerminalToolWindow)
map <leader>tc <Action>(Terminal.OpenInTerminal)

" todo
map <leader>to <Action>(ActivateTODOToolWindow)
